/***
 ***  FLARES -- 206acu
 *** 
 */
 
 
/* Palette
 * RED #c0392b				// Perhaps consider also #B04632
 * GREEN #27ae60
 * ORANGE #e67e22
 * INFO #2a84be
 */ 
 
/* View/Edit Member Screen*/
.memberview-image {
	max-width: 200px;
	max-height: 200px;
}
.member-record-view td {
	width: 50%;
	word-break: break-word;
}

.member-record-view input,
.member-record-view textarea,
.member-record-view select {
	padding: 8px;
	display: block;
	border: none;	
	width: 100%;
}
.member-record-view input,
.member-record-view textarea,
.member-record-view select,
.member-record-view [contenteditable] {
	border-bottom: 2px solid skyblue;
	background: azure;
}
.member-record-view textarea {
	resize: vertical;
}
.member-record-view input[type=radio],
.member-record-view input[type=checkbox] {
	width: auto;
}


/* Member onboarding scren */
.memberadd-spreadsheet {
	border-collapse: collapse;
	width: 100%;
}
.memberadd-spreadsheet td, 
.memberadd-spreadsheet th {
	border: 1px solid #bbb;
}
.memberadd-spreadsheet th {
	padding: 5px;
}
.memberadd-spreadsheet input[type],
.memberadd-spreadsheet select {
	border: none;
	padding: 5px;
	width: 100%;
}

input[type].ng-dirty.ng-invalid,
.ng-submitted input[type].ng-invalid,
select.ng-dirty.ng-invalid,
.ng-submitted select.ng-invalid {
	border: 1px solid #c0392b;
}

.memberadd-spreadsheet input[type][required].ng-dirty.ng-valid,
.ng-submitted .memberadd-spreadsheet input[type][required].ng-valid,
.memberadd-spreadsheet select[required].ng-dirty.ng-valid,
.ng-submitted .memberadd-spreadsheet select[required].ng-valid  {
	border: 1px solid #27ae60;
}






footer {
	padding-top: 2em;
	color: #95a5a6;
}