start transaction;
create table `decoration_approvals` (`dec_appr_id` int unsigned not null auto_increment primary key, `regt_num` varchar(10) not null, `dec_id` int unsigned not null, `request_comment` text null, `date` datetime null, `is_approved` tinyint null, `justification` text null, `user_id` int unsigned null, `decision_date` datetime null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate utf8mb4_unicode_ci;
alter table `decoration_approvals` add constraint `decoration_approvals_regt_num_foreign` foreign key (`regt_num`) references `members` (`regt_num`);
alter table `decoration_approvals` add constraint `decoration_approvals_dec_id_foreign` foreign key (`dec_id`) references `decorations` (`dec_id`);
alter table `decoration_approvals` add constraint `decoration_approvals_user_id_foreign` foreign key (`user_id`) references `users` (`user_id`);
alter table `members` add `joined_at` datetime null, add `is_enrolled` tinyint not null default '0';
update `members` set is_enrolled=is_active;
alter table `members` drop `is_qual_mb`;
alter table `members` drop `is_qual_s303`;
alter table `members` drop `is_qual_gf`;
alter table `members` drop `is_active`;
alter table `members` drop `is_fully_enrolled`;
alter table `member_decorations` add `user_id` int unsigned not null default '1', add `dec_appr_id` int unsigned null;
alter table `member_decorations` add constraint `member_decorations_user_id_foreign` foreign key (`user_id`) references `users` (`user_id`);
alter table `member_decorations` add constraint `member_decorations_dec_appr_id_foreign` foreign key (`dec_appr_id`) references `decoration_approvals` (`dec_appr_id`);
alter table `users` add `forums_username` varchar(255) null, add `allow_sso` tinyint not null default '0';
alter table `users` drop `signature_blob`;
alter table `users` drop `signature_extn`;
create table `user_sso` (`sso_id` int unsigned not null auto_increment primary key, `user_id` int unsigned not null, `sso_token` varchar(32) null, `is_redirect` tinyint null, `expires_at` datetime null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate utf8mb4_unicode_ci;
alter table `user_sso` add constraint `user_sso_user_id_foreign` foreign key (`user_id`) references `users` (`user_id`);
commit;