// FLARES color variables

/* Palette
 * RED #c0392b				// Perhaps consider also #B04632
 * GREEN #27ae60
 * ORANGE #e67e22
 * INFO #2a84be
 * FLAT-CONCRETE #95a5a6
 * FLAT-ASBESTOS #7f8c8d
 */ 
 
$color-flares-red: #c0392b;
$color-flares-green: #27ae60;
$color-flares-orange: #e67e22;
$color-flares-info: #2a84be;
$color-flat-concrete: #95a5a6;
$color-flat-asbestos: #7f8c8d;