/***
 ***  FLARES -- 206acu
 ***  Todo: modularise, convert to LESS 
 *** 
 */
 
/* ==============*/
/* Body, HTML and elements */
html, body {
    height: 100%;
}

a[ng-click], 
a[bs-show-tab],
a[sidebar-toggle] {
	cursor: pointer;
}


/* ==============*/
/* Header, Footer, Nav, Headings */
.navbar {
    margin-bottom: 0;
}
.navbar-toggle {
    padding: 5px 10px;
}
.page-header {
    margin-top: 0;
    padding-bottom: 0;
    background: #8b4346;        /* 206 Maroon Dull */
    color: white;
    box-shadow: inset 0px 4px 6px rgba(0,0,0,0.15);
}
.page-header h1 {
    font-size: 1.25em;
    font-weight: normal;
    margin-top: 0.55em;
    margin-bottom: 0.5em;
}
.page-header h1 small {
    color: #CCC;
}
.page-header .btn {
    font-size: 0.8em;
}

.page-header .btn-link,
.page-header .btn-link:active {
    color: #ccc;
}
.page-header .btn-link:hover {
    color: whitesmoke;
}

.page-header .title-actions {
    float: right;
    margin-top: -5px;
}
.page-header .title-actions.pull-right {
    margin-right: 0px;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
	color: #95a5a6;
    background: whitesmoke; 
}

/* ================ */
/* My own utility classes */

.fl-helptext {          /* Note: when less, try to get the same colour as @muted */
    color: #ccc;
    font-size: 24px;
    font-weight: 300;
    margin: 1em 0;
}

  
/* ============== */
/* Common elements and Bootstrap monkey patches */
.table {
    table-layout: fixed;
}

.fl-table-header, .fl-table-header .table {
    margin-bottom: 0;
}
.fl-table-scrollable {
    max-height: 400px;
    overflow-y: auto;
}
 
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 

@media (max-width: 767px){
    
    /* Right-triangle carets for mobile menu */
    .caret {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid;
    }
    
    .page-header .title-actions {
        float: none;
        margin-top: 0;
    }
    
}
 