// Dashboard screen

#dashboardApprovals, #dashboardActivityLog {
    table {
        font-size: .9em;
    }
    .badge {
        vertical-align: .1em;
        background: $brand-danger;      // red badge please
    }
}


.dashboard-tabcontent-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dashboard-stat {
	text-align: center;
}
.dashboard-stat .stat-caption {
	color: #aaa;
}
.dashboard-stat .stat-figure {
	font-size: 3em;
	line-height: 1;
	font-weight: bold;
}

.dashboard-approval-row td {
    cursor: pointer;
}