// Dashboard screen

#dashboardApprovals, #dashboardActivityLog {
    table {
        font-size: .9em;
    }
    .badge {
        vertical-align: .1em;
        background: $brand-danger;      // red badge please
    }
}


.dashboard-tabcontent-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dashboard-big-stat {
	text-align: center;
    .stat-caption {
        color: #aaa;
    }
    .stat-figure {
        font-size: 2.8em;
        line-height: 1;
        font-weight: bold;
    }
    .stat-caption + .stat-figure {
        margin-top: .25em;
    }
}

.dashboard-inline-stat {
    .stat-caption {
        display: inline-block;
        vertical-align: top;
        color: #aaa;
    }
    .stat-figure {
        vertical-align: top;
        font-weight: bold;
        text-align: right;
    }
}

.dashboard-approval-row {
    td {
        vertical-align: middle;
    }
    td.clickable-cell {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
}