// Dashboard screen

#dashboardApprovals table {
    font-size: .9em;
}

.dashboard-stat {
	text-align: center;
}
.dashboard-stat .stat-caption {
	color: #aaa;
}
.dashboard-stat .stat-figure {
	font-size: 3em;
	line-height: 1;
	font-weight: bold;
}

.dashboard-approval-row td {
    cursor: pointer;
}