// Decorations

.fl-dec-badge-wrapper {
    padding: 12px;
    
    .fl-dec-badge {
        display: block;
        margin: 0 auto;
    }
}

.fl-dec-badge {

    display: inline-block;
    box-sizing: content-box;
    
    // Ratio 3:1
    width: 120px;
    height: 40px;
    background-color: #333;
    border: 3px solid #eaeaea;
    
    // For list-based displays
    &.smaller {
        // Ratio 3:1
        width: 60px;
        height: 20px;
    }
    
    img {
        height: 100%;
        width: 100%;
    }
    
    &.mystery {
        background: #666;
        color: white;
    }
    &.mystery::after {
        display: block;
        text-align: center;
        line-height: 100%;
    }
}