//=============================
// SCSS for FLARES form screens
//=============================

.control-label {
    &.control-label-required::after {
        content: ' *';
        display: inline;
        font-weight: bold;
        color: #CF000F;
    }
    
}

.fl-record-thumbnail {
    display: inline-block;
    margin: 0 auto;
    max-width: 150px;
}