// Member search screen
.search-result-row td {
    cursor: pointer;
}

// View/edit member screen

.member-status-labels {
    font-size: 1.26em;
    .label {
        display: inline-block;
    }
}

.member-header {
    h2 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    h2 + .subheading {
        margin-top: -10px;   
    }
    // Add margin/etc to match heading
    .member-status-labels {
        float: right;
    }
    // First column 
    table {
        tr > th:nth-child(1),
        tr > td:nth-child(1) {
            width: 200px;
        }
    } 
}

.member-quickstatus {
	border-bottom: 1px dashed #ddd;
	margin-bottom: 20px;
    dd {
        display: inline-block;
    }
}

.member-dp {
    margin: 0 auto;
	max-width: 150px;
}
.member-dp-lg {
    margin: 0 auto;
	max-width: 400px;
}
.member-dp-thumb,
.member-dp-sm {
    margin: 0 auto;
	max-width: 100px;
}
.member-dp, .member-dp-lg, .member-dp-thumb, .member-dp-sm {
    img {
        width: 100%;
    }
}

.record-view {

    @mixin highlighted-field($border-color: skyblue, $background-color: azure) {
        border-bottom: 2px solid $border-color;
        background: $background-color;
    }

    input, textarea, select {
        padding: 8px;
        display: block;
        border: none;	
        width: 100%;
        @include highlighted-field;
    }
    
    [contenteditable] {
        @include highlighted-field;
    }
    
    textarea {
        resize: vertical;
    } 
    input {    
        &[type=radio], &[type=checkbox] {
            width: auto;
        }
    }
    
    td {
        width: 50%;
        word-break: break-word;
    }
    
}

.uploader-drop-zone {
	border: 6px dashed steelblue;
	background: aliceblue;
    &.uploader-not-ready {
        border: 6px solid red;
    }
}


// Member Simple onboarding screen


// Member Multi onboarding screen

.memberadd-spreadsheet {
	border-collapse: collapse;
	width: 100%;
}
.memberadd-spreadsheet {
    td, th {
        border: 1px solid #bbb;
    }
    th {
        padding: 5px;
    }
    input[type], select {
        border: none;
        padding: 5px;
        width: 100%;
    }
}

input[type].ng-dirty.ng-invalid,
.ng-submitted input[type].ng-invalid,
select.ng-dirty.ng-invalid,
.ng-submitted select.ng-invalid {
	border: 1px solid #c0392b;
}

.memberadd-spreadsheet input[type][required].ng-dirty.ng-valid,
.ng-submitted .memberadd-spreadsheet input[type][required].ng-valid,
.memberadd-spreadsheet select[required].ng-dirty.ng-valid,
.ng-submitted .memberadd-spreadsheet select[required].ng-valid  {
	border: 1px solid #27ae60;
}

