/***
 ***  FLARES -- 206acu
 ***  Todo: modularise, convert to LESS 
 *** 
 */
 
// https://docs.angularjs.org/api/ng/directive/ngCloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
 
 
.flares-main {
    height: 100%;
    padding: 50px 0;
    overflow-y: scroll;
}

.login-hr-device {
    margin: 2em auto; 
    display: block; 
    border-top: 1px solid #95a5a6;
    height: 1px;
    text-align: center;
}
.login-hr-device:before {
    content: 'OR';
    display: inline-block;
    background: white;
    position: relative;
    padding: 0 1em;
    top: -11px;
}



// Menubar and navbar

.titlebar-actions .btn-link {
    background: rgba(0,0,0,.2);
}

// Context modal triggers that appear when hovered
table tr {
    .fl-context-modal-button {
        display: none;
    }
    &:hover .fl-context-modal-button {
        display: inline-block;
    }
}